.coin-container .content{
    max-width: 720px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px #666666,
    -5px -5px 5px #ffffff;
    border-radius: 8px;
    z-index: 1;
   
    
    .rank{
        width: fit-content;
        position: absolute;
        top: 216px;
    }
    .coin-heading{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;

        img{
            margin: 0 20px;
            margin-left: 80px;
        }
        p{
            margin: 0 40px;
        }
        .coin-price{
            display: flex;
            flex-direction: row;
            p{
                margin-top: 20px;
            }
        }
    }
    .info{
        display: flex;
        flex-direction: row;

        span{
            width: 80px;
            margin-top: 11px;
        }
    }
    .stats{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 0px;
    }

}


@media screen and (min-width : 1072px) {
    .rank{
        position: absolute;
        font-size: 150px;
        overflow: hidden;
        left: 0;
        color: #585858;
    }
    
}

.red-color{
    color:red;
}
.green-color{
    color: rgb(6, 240, 6);
}

.space-for-4values{
    margin-bottom: 10px;
}
