@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(239, 246, 253);
}

a{
    color: #353535;
    text-decoration: none;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width: 720px){
  .hide-in-small-screen{
      display: none;
  }
}